﻿@{
	ViewBag.Title = "LittleURL";
}

<br />
<div class="row">
	<div class="col-sm-12">
		<label>Enter URL to Convert :</label>
		<input type="text" id="URL" class="input-sm" placeholder="Enter Url to short" value="" />
		<input type="text" id="ShortUrl" class="input-sm" placeholder="Shorted URL" readonly />
		<input type="button" id="btnGetUrl" class="btn btn-primary" value="Get Url" />
	</div>
</div>

